﻿body {
}
img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid black;
}
.img {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
#notatka{
    background-color: #FFFF8D;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    min-height: 155px;
    margin-bottom: 20px;
    margin-right: 4px;
    margin-left: 4px;
}
#dodaj{
    background-color: #FFFF8D;
    padding: 4px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    min-height: 60px;
    margin-top: 70px;
}
#dodaj_input {
    background-color: #FFFF8D;
    padding: 4px;
    margin: 4px;
    border: none;
    border-radius: 5px;
    width: 384px;
    min-height: 25px;
    resize: none;  
}
#title_input {
    background-color: #FFFF8D;
    padding: 4px;
    margin: 4px;
    border: none;
    border-radius: 5px;
    width: 384px;
    min-height: 25px;
    resize: none;
    font-weight: bold;
}
.btn-primary {
    background-color: #EFF700;
    border: none;
}
.notatnik {
	margin-left: 125px;
    margin-right: 125px;
    margin-top: 110px;
    margin-bottom :100px;
}
#noteTitle {
    background-color: #FFFF8D;
    width: 230px;
    border: none;
    border-style: none;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
}
#noteTextarea {
    background-color: #FFFF8D;
    width: 230px;
    border: none;
    border-style: none;
    resize: none;   
    min-height: 85px; 
}
#noteDate {
    font-size: 9px;
    font-style: italic;
}  
textarea:focus {
	outline-style: solid;
	outline-width: 2px;
}
#addTextNoteButton {
    align-self:center;
}
#confirmModalQuestionRow {
    margin-bottom: 20px; 
    margin-top: 20px;
}
#confirmModalButtonRow {
    margin-bottom: 20px; 
}
#yesButton {
    margin-right: 20px; 
    width: 68px
}
#bs-example-navbar-collapse-2 {
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    background-color: #F0F3F5;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle-s {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 10px;
  border-radius: 10px;
}
.my-checkbox {
    width: 15px;
    height: 15px;
}
#categoryCheckbox {
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
#categoryNameText {
    font-weight: bold;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}